* {
  background-color: gray;
}
#root {

  width: 100%;
}
div p {
font-size: 15px;
}
h2 {
  text-align: center;
}
#container {
  display: flex;
  justify-content: space-around;
  place-items: center;
  align-content: center;
  flex-direction: row;
  width: 100%;
}
div img {
  width: 100%;
}
.movieContainer {
  width: 30%;
  display: flex;
  justify-content: center;
  place-items: center;
  align-content: center;
  flex-direction: column;
  border: 2px solid black;
}
